



%roboto-400 {
  font-family: "Roboto-Regular",sans-serif;
  font-weight: 400;
}
%roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}
%roboto-700{
  font-family:"Roboto-Bold", sans-serif;
  font-weight: 700;
}
%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
%rubik-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

%bebas-400 {
  font-family: "BebasNeue-Regular", sans-serif;
  font-weight: 400;
}

%title {
  @extend %roboto-500;
  font-size: 50px;
  line-height: 59px;
}